src/main/mule/craft-b21-final-project.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="craft-b21-final-project-config" api="craft-b21-final-project/craft-b21-final-project.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3abc3fb3-2084-49be-8381-92fd673c2be9" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="06601aa4-f035-4dbc-8e22-c3b4452a9161" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="d2fe6310-046a-431c-bb25-4b06cf66973e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Alex&amp;Tsgu21" database="notes_app" />
	</db:config>
	<flow name="craft-b21-final-project-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="craft-b21-final-project-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="craft-b21-final-project-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="craft-b21-final-project-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\notes:craft-b21-final-project-config">
        <ee:transform doc:name="Transform Message" doc:id="8c34d66f-ef3b-44d7-9e21-39d7dcf5842d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-update doc:name="Bulk update" doc:id="d79e903a-28d8-4f3f-b6b5-7c6074a1b46d" config-ref="Database_Config">
			<db:bulk-input-parameters><![CDATA[#[payload map(value, index)->{
id: attributes.uriParams.noteid,
title: value.title,
content: value.content,
createdAt: value.createdAt,
updatedAt: value.updatedAt
}]]]></db:bulk-input-parameters>
			<db:sql><![CDATA[update notes set title = :title, content = :content, createdAt = :createdAt, updatedAt = :updatedAt where id =:id
]]></db:sql>
		</db:bulk-update>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "notes updated successfuly"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\notes\(noteid):craft-b21-final-project-config">
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="6505f464-c52d-4b21-951d-3281009a2e0a">
            <ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables>
            </ee:variables>
        </ee:transform>
		<db:update doc:name="Update" doc:id="1a8aefed-a3fe-4262-aeff-b1814262b54e" config-ref="Database_Config">
			<db:sql ><![CDATA[update notes set title = :title, content = :content, createdAt = :createdAt, updatedAt = :updatedAt where id =:id
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
id: attributes.uriParams.noteid,
title: payload.title,
content: payload.content,
createdAt: payload.createdAt,
updatedAt: payload.updatedAt
}]]]></db:input-parameters>
		</db:update>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "notes updated successfuly"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\notes\(noteid):craft-b21-final-project-config">
        <choice doc:name="Choice" doc:id="c4c8b1cb-7dd4-4632-8794-670e4cc7dc7e" >
			<when expression='#[attributes.uriParams.noteid==null]'>
				<raise-error doc:name="Raise error" doc:id="d4b8dff5-a350-415a-b8de-ceb10b93630f" type="ID:INVALID ENTRY" description="ID is not iserted"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="234e970a-eba2-47ac-9b6c-93f1362b26f7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
attributes.uriParams.noteid]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<db:delete doc:name="Delete" doc:id="0b3b9015-a4ed-4c8b-9b0e-c7a21eabe850" config-ref="Database_Config">
			<db:sql><![CDATA[delete from notes where id=:id]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	id:attributes.uriParams.noteid
}]]]></db:input-parameters>
		</db:delete>
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "notes deleted successfuly"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cae6c01a-ef07-4ed6-aab8-87abd931c25d" >
				<ee:transform doc:name="Transform Message" doc:id="37c51cc4-d534-40fd-b36e-303f56b54e38" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "insert correct id"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\notes:craft-b21-final-project-config">
        <db:select doc:name="Select" doc:id="3b8b5ce5-d76e-47fc-a599-f357b5568eff" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from notes_app.notes;]]></db:sql>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\notes\(noteid):craft-b21-final-project-config">
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="noteid"><![CDATA[attributes.uriParams.'noteid']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:select doc:name="Select" doc:id="ca7a55d5-f06a-4dd8-907b-bcfa11ef2f56" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from notes where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:attributes.uriParams.noteid
}]]]></db:input-parameters>
		</db:select>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\notes:craft-b21-final-project-config">
		<choice doc:name="Choice" doc:id="0b5e00d9-4eef-4089-8d6c-91f28d0ca1ce" >
			<when expression="#[isEmpty(payload.updatedAt) or payload.updatedAt==null]">
				<raise-error doc:name="Raise error" doc:id="afd10dbb-efed-4f0e-a250-2b04128d7205" type="updatedAT:INVALID ENTRY" description="updatedAt is can not null"/>
			</when>
			<otherwise >
				<db:bulk-insert doc:name="Bulk insert" doc:id="6df839c7-2ea6-4a85-a726-8a53e60d96c6" config-ref="Database_Config">
			<db:bulk-input-parameters><![CDATA[#[payload map (val, index)->{
	title: val.title,
	content: val.content,
	createdAt: val.createdAt,
	updatedAt: val.updatedAt
}]]]></db:bulk-input-parameters>
			<db:sql><![CDATA[insert into notes (title, content, createdAt, updatedAt) values (:title, :content, :createdAt, :updatedAt)]]></db:sql>
		</db:bulk-insert>
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "notes Created successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f305775c-07ad-4c8c-afae-740eb957aefc" >
				<ee:transform doc:name="Transform Message" doc:id="0994235d-4700-483b-b260-09c73ed45c3c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "insert updatedAt value"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\notes\(noteid):craft-b21-final-project-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="noteid">attributes.uriParams.'noteid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "notes Created successfully",
  noteid: 1,
  title: "Morning routine",
  content: "This morning routine involved 2 hours of workout at the gym",
  createdAt: "2021-07-03T21:00:00",
  updatedAt: "2021-07-04T21:00:00"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
